header {
	width:100%;
    height:100px;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
}

@font-face {
  font-family: 'fontello';
  src: url('../fontello/fontello.eot?48185352');
  src: url('../fontello/fontello.eot?48185352#iefix') format('embedded-opentype'),
       url('../fontello/fontello.woff2?48185352') format('woff2'),
       url('../fontello/fontello.woff?48185352') format('woff'),
       url('../fontello/fontello.ttf?48185352') format('truetype'),
       url('../fontello/fontello.svg?48185352#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6797484#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .4em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-file-code:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-cart-plus:before { content: '\e804'; } /* '' */
.icon-cart-arrow-down:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-mobile:before { content: '\e807'; } /* '' */
.icon-chart-line:before { content: '\e808'; } /* '' */
.icon-credit-card:before { content: '\e809'; } /* '' */
.icon-fork:before { content: '\e80a'; } /* '' */
.icon-key:before { content: '\e80b'; } /* '' */
.icon-hdd:before { content: '\e80c'; } /* '' */
.icon-rocket:before { content: '\e80d'; } /* '' */
.icon-sitemap:before { content: '\e80e'; } /* '' */
.icon-git:before { content: '\e80f'; } /* '' */
.icon-facebook-official:before { content: '\e810'; } /* '' */
.icon-facebook-squared:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\e812'; } /* '' */
.icon-dropbox:before { content: '\e813'; } /* '' */
.icon-linkedin:before { content: '\e814'; } /* '' */
.icon-linux:before { content: '\e815'; } /* '' */
.icon-linkedin-squared:before { content: '\e816'; } /* '' */
.icon-gplus:before { content: '\e817'; } /* '' */
.icon-html5:before { content: '\e818'; } /* '' */
.icon-wordpress:before { content: '\e819'; } /* '' */
.icon-twitter:before { content: '\e81a'; } /* '' */
.icon-twitter-squared:before { content: '\e81b'; } /* '' */
.icon-tumblr-squared:before { content: '\e81c'; } /* '' */
.icon-tumblr:before { content: '\e81d'; } /* '' */
.icon-youtube:before { content: '\e81e'; } /* '' */
.icon-slack:before { content: '\e81f'; } /* '' */
.icon-skype:before { content: '\e820'; } /* '' */
.icon-paypal:before { content: '\e821'; } /* '' */
.icon-pied-piper-squared:before { content: '\e822'; } /* '' */
.icon-stackoverflow:before { content: '\e823'; } /* '' */
.icon-windows:before { content: '\e824'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
.icon-users:before { content: '\e826'; } /* '' */
.icon-user-add:before { content: '\e827'; } /* '' */
.icon-chart-line-1:before { content: '\e828'; } /* '' */
.icon-paypal-1:before { content: '\e829'; } /* '' */
.icon-twitter-1:before { content: '\e82a'; } /* '' */
.icon-facebook-1:before { content: '\e82b'; } /* '' */
.icon-facebook-squared-1:before { content: '\e82c'; } /* '' */
.icon-gplus-1:before { content: '\e82d'; } /* '' */
.icon-linkedin-1:before { content: '\e82e'; } /* '' */
.icon-tumblr-1:before { content: '\e82f'; } /* '' */
.icon-mail:before { content: '\e830'; } /* '' */
.icon-mail-1:before { content: '\e831'; } /* '' */
.icon-mail-circled:before { content: '\e832'; } /* '' */
.icon-mail-2:before { content: '\e833'; } /* '' */
.icon-mail-3:before { content: '\e834'; } /* '' */

#spacingDiv {
	height: 200px;
}

/* ---------- Top Bar Styles ---------- */


.logo {
	min-height: 100px;
	background: url("/img/grass-repeat-logo.png") repeat-x center bottom;
    width: 100px;
    height:auto;
}

#Top_Bar {
	min-height: 150px;
    background-color: #DDEEFF !important;
	color: #fff;
		background: url("/img/top_bar_grass_repeat.png") repeat-x center 80px;

		/* Safari 4-5, Chrome 1-9 */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center 80px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BBEEFF), to(#DDEEFF)); 
		/* Safari 5.1, Chrome 10+ */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center 80px, -webkit-linear-gradient(top, #DDEEFF, #BBEEFF); 
		/* Firefox 3.6+ */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center 80px, -moz-linear-gradient(top, #DDEEFF, #BBEEFF); 
		/* IE 10 */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center 80px, -ms-linear-gradient(top, #DDEEFF, #BBEEFF);
		/* Opera 11.10+ */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center 80px, -o-linear-gradient(top, #DDEEFF, #BBEEFF);
}

	#Top_Bar .col-xs-12.col-sm-6.col-md-6,
	#Top_Bar .col-sm-3.col-md-3 {
		min-height: 120px;
	}
    
    .col-sm-3 img {width: 60%; height: auto; margin-left: 0; margin-right: 30px; margin-bottom: 30px; margin-top: 15px;}
    
	#basket-login-links, #Top_Bar .form {
		position: absolute;
		width: 100%;
	}
    
    #Top_Bar .form {bottom: 15px;background: rgba(0, 0, 0, 0);}

    #basket-login-links {
        background-color: #787150;
        display:inline-block;
        width:auto !important;
        right: 15px;
        text-align: center;
        padding: 0.6em;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        text-align: right;
        z-index: 90;
        
    }

    #basket-login-links > a {margin-left: 5px;margin-right:5px;}

    #Top_Bar #basket-login-links {
        background-color: #787150 !important;
        display:inline-block;
        top: 0;
    }

	#Top_Bar form label,
	#Top_Bar form input,
	#Top_Bar form button {
		float: left;
		height: 40px;
	}

	#Top_Bar form label {
		width: 15%;
		background-color: #787150;
		font-size: 16px;
		color: #fff;
		text-align: center;
		padding: 7px 0 0 7px;
		border-radius: 5px 0 0 5px;
	}

	.input-group-addon {
		/*width: 15%;*/
		background-color: #787150;
		color: #fff;
		text-align: center;
		/*padding: 7px 0 0 7px;
		border-radius: 5px 0 0 5px;*/
		border: 4px solid #787150;
	}

	#Top_Bar form input {
		width: 75%;
		border: 4px solid #787150;
		border-radius: 0 5px 5px 0;
		margin-bottom: 0;
	}

	#Top_Bar form button {
		width: 30px;
		border: none;
		background: url("/img/search_icon.png") no-repeat center center;
		background-size:70%;
		margin-left: 5px;
	}

	#basket-login-links a {
		margin-left: 10px;
	}


/* ---------- Nav Styles ---------- */

nav {
	background: #787150;
	min-height: 40px !important;
	border: none;
	margin-bottom: 0;
	}

nav.navbar {
	border-radius: 0 !important;
	margin-bottom: 0;
}

	.navbar-header .left {
		float: left;
	}

	.navbar-header .small_logo img {
		padding: 5px 0;
	}

	.navbar-header .small_logo h5 {
		margin-bottom: 0;
		padding: 15px 10px;
	}

	.navbar-nav {
		margin-left: 8%;
	}

	.navbar-nav>li>a {
		padding: 5px 8px;
		margin: 5px 15px 5px 5px;
		color: #fff;
		font-size: 14px;
	}

	.navbar-nav>li>a:hover {
		background: #605a40;
		border-radius: 5px;
	}

	.nav>li>a:focus {
		background-color: #787150;
	}

	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
		background-color: #605a40;
		margin-bottom: 0;
		padding-bottom: 10px;
		border-radius: 5px 5px 0 0;
	}

	.dropdown-menu {
		background-color: rgba(255,255,255,0.9);
		border: 3px solid #605a40;
		border-top: none;
		margin: 0 5px;
	}

	ul.dropdown-menu li {
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
	}

		.dropdown-menu>li>a {
			color: #787150;
		}

		.dropdown-menu>li>a:hover {
			background: #89b304;
			color: #fff;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
		}

	header#header nav#nav.navbar div.navbar-collapse.collapse.in ul.nav.navbar-nav li.dropdown a.dropdown-toggle {
		width: 60%;
	}

	html body header#header nav#nav.navbar div.navbar-collapse.collapse.in ul.nav.navbar-nav li.dropdown.hovernav a.dropdown-toggle {
		width: 100%;
	}

	.navbar-toggle {
		background-color: #605a40;
	}

	span.icon-bar {
		background-color: #fff;
	}

	.width100{
		position: fixed;
		padding-right: 30px;
		width:100%;
	}