.submit {
	margin-top:15px;
}

.package .list-group-item.price .large {
		letter-spacing: -0.1em;
	}

.pad-heading {
	padding-top: 1em;
}

.signup-button {
	width:100%;
	margin: 20px 0 40px 0;
}

.bigform {
	margin-bottom:20px;
	padding:30px 30px;
	width:100%;
	background-color:#EEEEEE;
	border-radius:5px;
	border:px solid #89b304;

}

.bigform td {
	padding-right:5px;
}

.bigform table {
	width: 100%;
	}
.contact_address {
	padding-top: 30px;
}

.domain-table {
	text-align:center;
}

th {
	vertical-align:top !important;
}

td {
	vertical-align:middle !important;
}

.domainprice {
	font-size:150%;
	}

.nav-tabs {


}

body {
	font-family: "Helvetica Neue", "Arial", sans-serif;
	color: #787150;
	font-size: 14px;
}

.container {margin: 0;width:100%;}

.green {
	color: #89b304;
}

.brown {
	color: #787150;
}

.white {
	color: #fff;
}

/* ---------- Text Styles ---------- */

.page-header{margin-top: 0;}

h1, h2, h3, h4, h5 {
	font-family: "Helvetica Neue", sans-serif;
	color: #89b304;
	margin: 0 0 6px;
    
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: greyscale; 
}

h1 {
	font-size: 46px;
	line-height: 1.1;
    letter-spacing: -0.01em;
    font-weight: 100;

}

h1 small {font-weight: 200; margin-left: 2.4em;}

h2 {
	font-size: 24px;
	line-height: 1.2;
    font-weight: 200;
}

h2 small {font-weight: 200;}

h3 {
	font-size: 22px;
    font-weight: 200;
}

h3 small {font-weight: 200;}

h4 {
	font-size: 18px;
    font-weight: 300;
}

h4 small {font-weight: 300;}

h5 {
	font-size: 16px;
	line-height: 18px;
    font-weight: 400;
}

h5 small {font-weight: 400;}

p {
	font-weight: normal;
	line-height: 22px;
	color: #787150;
	margin-bottom: 15px;
}

.small-text {
	font-size: 12px;
	line-height: 12px;
}

.center {
	text-align: center;
}
/* ---------- Table Styles ---------- */

.table-striped {
	margin-top: 20px;
}

	.table-striped thead {
		background: #89b304;
		color: #fff;
	}

	.table-striped img {
		margin-bottom: 0 !important;
	}

		.table-striped thead th:first-child {
			border-radius: 5px 0 0 0;
		}

		.table-striped thead th:last-child {
			border-radius: 0 5px 0 0;
		}

		.table-striped thead tr th {
			border-bottom: none;
		}

	.table-striped tbody tr td:first-child {
	text-align:left;
	}

	.table-striped tbody tr:last-child {
	border-bottom:1px solid #ddd;
	}

		.table-striped tbody tr:last-child td:first-child {
			border-radius: 0 0 0 5px;
		}

		.table-striped tbody tr:last-child td:last-child {
			border-radius: 0 0 5px 0;
		}

	.table-striped .sub {
		background: #89b304 !important;
		color: #fff;
	}

/* ---------- Forms, Inputs ---------- */

form input,
form textarea, form select.form-control, .form-control {
	border: 4px solid #787150;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
	/*min-height: 40px;*/
}

input[type=file] {
	border: none;
	border-radius: o;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	border: none !important;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	border-radius: 0 !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
	margin-top: 0;
	/*min-height: 40px;*/
}

}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder { /* WebKit browsers */
	color:    #555;
	font-size: 16px !important;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: 200 !important
}
form input::-moz-placeholder,
form textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   	color:    #555;
   	opacity:  1;
   	font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: 200 !important
	font-size: 16px !important;
}
form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
   	color:    #555;
	font-weight: bold;
	font-size: 16px;
}

form input:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder {
	color:transparent;
}

form input:focus:-moz-placeholder,
form textarea:focus:-moz-placeholder {
	color:transparent!important;
}

form input:focus::-ms-input-placeholder,
form textarea:focus::-ms-input-placeholder {
	color:transparent;
}

form input:focus,
form textarea:focus, form select.form-control:focus, .form-control:focus {
border-color: #89b304;
outline: 0;
-webkit-box-shadow: none;
box-shadow: none;
}

form textarea {
	min-height: 80px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    width: auto;
}

.center_radio {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.radio, .checkbox {
	margin-top: 0;
}

input[type=radio], input[type=checkbox] {
	width: auto;
}

/* ---------- Button & Links Styles ---------- */

.btn {
	font-family: Asap, "Helvetica Neue", sans-serif;
    font-weight: 300;
	font-size: 22px;
	line-height: 30px;
}

.btn-lg {
	font-size: 28px;
}

.btn-sm {
	font-size: 18px;
}

.btn-green {
	color: #fff;
	background-color: #89b304;
	transition: .2s background ease;
	-webkit-transition: .2s background ease;
	border: none;
	height: 40px;
    
}

.btn-green:hover {
	background-color: #aedb02;
	color: #fff !important;
}

.btn-green:focus {
	color: #fff !important;
}

.sm-btn {
	width: 40%;
}

a {
	color: #89b304;
}

a:hover {
	color: #89b304;
	text-decoration: underline;
}

a.link_white {
	color: #fff;
	font-size: 14px;
}

a.link_white:hover {
	text-decoration: underline;
}

/* ---------- Hero Styles ---------- */

#Hero {
	padding-bottom: 30px;
	background: url("/img/hero.png") no-repeat fixed right bottom;
	background-size: 43%;
	min-height: calc(100vh - 200px);
	position: relative;
}

/*	#Hero .container {
		min-height: 300px;
		background: url("img/hero.png") no-repeat fixed right bottom;
		background-size: 70%;
	} */

	#Hero h1 {
		margin-top: 40px;
	}

	#Hero div.container img {
		width: 100%;
		height: auto;
	}

	#Hero p {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}

html body div div#Hero div.container div.col-xs-12.col-sm-8.col-md-7.col-lg-7 div.row div.col-md-2 p.text-center {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
	}


	#Hero p a {color: #89b304;}

/* ---------- Packs Styles ---------- */

#Packs {
	background: #89b304;
}

#Packs h1 {
	color: #fff;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 0;
}

#Packs_slide .package {
	margin: 0 0px;
    min-height: 100vh;
}

.package {
	text-align: center;
	font-size: 14px;
}

.package .list-group {
	margin: 40px 0 10px;
}

	.package .list-group-item {
		border-right: 4px solid #787150;
		border-left: 4px solid #787150;
		border-top: none;
		border-bottom: none;
		margin-bottom: 0px;
	}

	.package .list-group-item.title {
		background: #787150;
        font-family: "Helvetica Neue", sans-serif;
		color: #fff;
		font-size: 32px;
	}

	.package .list-group-item.price {
		color: #89b304;
	}

		.package .list-group-item.price span {
			font-family: "Helvetica Neue", sans-serif;
			font-size: 87px;
			line-height: 70px;
		}

		.package .list-group-item.price .pound {
			font-size: 65px;
		}

		.package .list-group-item.price .small {
			font-size: 60px;
		}

	.package .list-group-item.info {
		padding: 10px 15px 0px;
	}

	.package .list-group-item.info span {
		border-bottom: 1px solid #89b304;
		display: block;
		padding-bottom: 10px;
	}

	.package .list-group-item:last-child {
		border-bottom: 4px solid #787150;
	}

	.package .btn-green {
		width: 100%;
		margin: 5px 0;
	}

	#Packs a {
		margin-bottom: 20px;
		display: block;
	}

	.owl-theme .owl-controls .owl-page span {
		background: #89b304 !important;
	}

	.owl-theme .owl-controls {
		margin:  20px 0 !important;
	}

/* ---------- Sales Styles ---------- */

#Sales {
	text-align: center;
}

	#Sales .container {
		padding: 40px 15px 0;
	}

	#Sales h4 {
		margin-bottom: 5px;
	}

	#Sales p {
		margin: 0;
		padding: 5px 10px;
		font-size: 14px;
	}

	#Sales a:hover {
		text-decoration: none;
	}

	#Sales a:hover p {
		background: #89b304;
		padding: 5px 10px;
		border-radius: 5px;
		display: inline-block;
		color: #fff;
	}

/* ---------- Content Styles ---------- */

#Content {

}

	#Content img {
		margin-bottom: 15px;
	}

	#Content li {
		padding-bottom: 5px;
		list-style-image: url("/img/disc.png");
	}

	div.panel.panel-default div.panel-body div.form-group.row div.col-md-9 div.btn-group.bootstrap-select.form-control div.dropdown-menu.open ul.dropdown-menu.inner li {
		list-style-image: none !important;
	}

html body div#Content div.container div#signupForm.col-xs-12.col-sm-12.col-md-4.col-lg-4.col-md-offset-1.col-lg-offset-1 form#packagePicker div.panel.panel-default div.panel-body div.form-group.row div.col-md-9 div.btn-group.bootstrap-select.form-control.open div.dropdown-menu.open {
		    border: 1px solid rgba(0, 0, 0, 0.15) !important;
		    border-radius: 4px !important;
		    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
		    float: left !important;
		    font-size: 14px !important;
		    left: 0 !important;
		    list-style: outside none none !important;
		    margin: 2px 0 0 !important;
		    padding: 5px 0 !important;
		    position: absolute !important;
		    text-align: left !important;
		    top: 100% !important;
		    z-index: 1000 !important;
		}
		
	html body div#Content div.container div.col-xs-4.col-sm-4.col-md-4.col-lg-4.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1 form#packagePicker div.panel.panel-default div.panel-body div.form-group.row div.col-md-9 div.btn-group.bootstrap-select.form-control.open div.dropdown-menu.open {
	    border: 1px solid rgba(0, 0, 0, 0.15);
	    border-radius: 4px;
	    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	    float: left;
	    font-size: 14px;
	    left: 0;
	    list-style: outside none none;
	    margin: 2px 0 0;
	    padding: 5px 0;
	    position: absolute;
	    text-align: left;
	    top: 100%;
	    z-index: 1000;
	}

	#Content .container {
		padding-top: 40px;
	}

	#Content .features,
	#Content .usp {
		background-color: #787150;
		border-radius: 5px;
		padding: 10px 10px;
	}

		#Content .features .list-group li,
		#Content .features .list-group p {
			color: #fff;
			background: url("/img/list_tick.png") no-repeat 20px 10px;
			border: none;
			padding: 10px 15px 10px 60px;
		}

		#Content .features .list-group p {
			background-image: none;
			padding: 10px 15px;
		}

		#Content .features h3 {
			margin: 10px 0px 10px 20px;
		}

	#Content .aside .btn-green {
		width: 100%;
		margin-top: 20px;
		padding: 15px 0;
	}

	#Content .aside .payment_icons {
		padding: 20px 0;
		text-align: center;
	}

		#Content .aside .payment_icons img {
	width:15%;
		}

	#Content .usp {
		text-align: center;
	}

/* ---------- Reviews Styles ---------- */

	#Quotes_slide p {
		color: #fff;
		margin-bottom: 0;
		font-size: 12px;
		text-align: right;
		line-height: 16px;
	}

	#Reviews .container {
		padding: 40px 15px;
	}

	#Reviews .review_link {
		margin: 10px 0 11px;
		display: block;
		text-align: right;
	}

	#Reviews .owl-carousel {
		margin-top: 10px;
	}

	#Quotes_slide .quoteOuter {
		display: table;
		margin: 10px;
	}

		#Quotes_slide .quote {
			color: #fff;
			padding: 15px;
			margin: 0 15px;
			border-radius: 5px;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}

			#Quotes_slide .quote.g {
				background: #89b304;
			}

			#Quotes_slide .quote.b {
				background: #787150;
			}

/* ---------- Featured Styles ---------- */

#Featured {

}

	#Featured img {
		margin-bottom: 15px;
	}

	#Featured h3 {
		margin-left: 15px;
	}

	#Featured .img-responsive {
		display: inline-block;
	}

	#Featured .col-md-3 {
		text-align: center;
	}

/* ---------- USP Styles ---------- */

.aside-icon {
	padding: 0;
}

.usp-list{
	padding: 0 20px 0 20px;
	position: relative;
	margin-bottom: 20px;
}

.usp-list ul{
	padding: 0;
}

.usp-list ul li{
	list-style: none;
	list-style-image: none;
	text-align: left;
	color: #fff;
}

.usp_points {
	margin-left: 80px;
}

	.usp_points_no_icon {
	margin-left: 20px;
}

.usp_points li a {
	color: #fff;
}

.usp_points_no_icon li a {
	color: #fff;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.usp_icon {
	width: 50px;
	height: auto;
	float: left;
}

h4.usp_title {
	text-align: left;
	margin-top: 5px;
	margin-left: 65px;
}

h4.usp_title_no_icon {
	text-align: left;
	margin-top: 5px;
	margin-left: 5px;
}

.oneclick_images {
	width: auto;
	height: 50px;
	margin-right: 20px;
}

.usp h1, .usp h2, .usp h3, .usp h4 .usp h5, .usp a, div .usp .row h1, div .usp .row h2, div .usp .row h3, div .usp .row h4, div .usp .row  h5 {color: #abcb51;}

html body div#Content div.container div.col-md-4 div.aside div.usp div.row div.col-xs-11.col-sm-4.col-md-12.usp-list ul.usp_points_no_icon li.lead span.badge, .green-badge {
    background-color: #89b302 !important;
    text-shadow: 0.5px 0.8px #333;
    margin-left:0.6em;
}

/* ---------- Tab Styles -----------*/

.tab-panel{
	margin-top: 10px;
}

.nav-tabs {
	border-bottom:none;
}

/*.nav-tabs>li {
	padding-top: 3px;
	padding-bottom: 0!important;
	float: left;
}

.nav-tabs>li>a {
	color:#fff;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #eee;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #89b304;
    border-width: none;
    border-style: none;
    border-color: none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #89b304;
}*/

.tab-content{
	margin-top: 20px;
}

/* ---------- Footer Styles ---------- */

#Footer {
	font-size: 12px;
	padding-top: 50px;
}

	#Footer .footer_top .container {
		min-height: 140px;
		background: url("/img/top_bar_grass_repeat.png") repeat-x center bottom;
		border-radius: 5px;
		color: #fff;
	}



		#Footer .col-md-6 {
			margin-top: 90px;
		}

		footer #footerLinks {
			margin-top: 80px;
		}

			#Footer .col-md-6 a, footer .col-md-6 a {
				color: #fff;
			}

			#Footer .footer_top .footer_left {
				text-align: left;
			}

			#Footer .footer_top .footer_right {
				text-align: right;
			}

	#Footer .footer_bottom, footer .footer_bottom {
		margin: 5px 0;
		text-align: center;
	}

		#Footer .footer_bottom p, footer .footer_bottom p  {
			margin-bottom: 0;
			line-height: 18px;
		}

/* ---------- Alert Styles ---------- */

.alert-success {
color: #fff;
background-color: #bbdb40;
text-align: center;
border-color: #89b304;
border-radius: 0px;
}

.alert-danger {
color: #fff;
background-color: #ef6363;
border-color: #d02121;
text-align: center;
border-radius: 0px;
}

/* ---------- CP Specific Styles ---------- */

.cp_home_icon {
	padding: 0;
}

.cp_home_icon li {
	list-style: none !important;
	float: left;
	width: 25%;
	margin-bottom: 20px;
	min-height: 160px;
	padding: 0 10px;
}

.cp_home_icon img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: auto;
}

.cp_home_icon p {
	text-align: center;
}


.usercp_image {
	width: 100%;
	height: auto;
}

/* -------- Contact Map Styles ---------- */

#address-block {
	z-index: 10;
	position: absolute;
	top: 9px;
	left: 25px;
	background: #89b304;
	padding: 20px;
	color: #fff;
	border-radius: 8px;
}

/* -------- Misc ---------- */

/*.table_plain tr {
	border-top: 1px solid #89b304;
}*/

.center_text {
	text-align: center;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ---------- Responsive Styles ---------- */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/*body {
		border: 5px solid white;
	}*/

	.package .list-group-item.price .pound {
		font-size: 35px;
	}
	.package .list-group-item.price .large {
		font-size: 77px;
	}
	.package .list-group-item.price .small {
		font-size: 45px;
	}

	#Hero {
		background: url("/img/hero.png") no-repeat fixed right bottom;
		background-size: 40%;
		min-height: calc(100vh - 200px);
		position: relative;
	}

	#Hero .row {
		padding-top:15px;
		padding-bottom:0;
	}

	html body div div#Hero a:active {
		color:#fff !important;
	}

	#Hero .container {
		background-image: none;
		min-height: calc(100vh - 200px);
	}

	#Hero div.container img {
		width: 100%;
		height: auto;
	}

	#Hero p {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	html body div div#Hero div.container div.col-xs-12.col-sm-8.col-md-7.col-lg-7 div.row div.col-md-2 p.text-center {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	h1 {
		font-size: 46px;
		line-height: 1.1;
	}

	.container {
		width: 100%;
	}

	.navbar-nav>li>a {
		margin-right: 0px;
	}

	#Top_Bar .col-sm-3 {
		padding: 0 5px;
	}

	/* #Hero .container {
		min-height: 200px;
		background: url("img/hero.png") no-repeat right bottom;
		background-size: 38%;
	} */

	#Hero {
		background: url("/img/hero.png") no-repeat fixed right bottom;
		background-size: 52%;
		min-height: calc(100vh - 200px);
		position: relative;
	}

	#Hero div.container img {
		width: 20%;
		height: auto;
	}

	#Hero p {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	html body div div#Hero div.container div.col-xs-12.col-sm-8.col-md-7.col-lg-7 div.row div.col-md-2 p.text-center {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
		display: inline-block;
		margin-left: 1em;
		text-align: left;
	}

	.package .list-group-item.price .pound {
		font-size: 50px;
	}
	.package .list-group-item.price .large {
		font-size: 87px;
	}
	.package .list-group-item.price .small {
		font-size: 60px;
	}

	.package .owl-theme .owl-controls {
		margin: 0 0 10px 0 !important;
	}

	#Content .features ul {
	    -moz-column-count: 2;
	    -moz-column-gap: 10px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 10px;
	    column-count: 2;
	    column-gap: 10px;
	}

	#Content .aside .payment_icons img {
	width:70px;
		}

	#Top_Bar #basket-login-links {
   		position:absolute;
        display:inline-block;
        top: 0;
        height: 2.6em !important;
        border: none;
    }
}

/* iPad Portrait */
@media only screen and (max-width : 768px) {
	#Top_Bar {
		min-height: 50px;
		background: url("/img/top_bar_grass_repeat.png") repeat-x center bottom;
		background-size:60%;

	}

	html body div#Top_Bar.col-xs-pull-9 div.container div.col-xs-12.col-sm-6.col-md-6 div.form form.form_url.input-group {
		/* Hacky fix to make domain search bar look right width for smaller screens */
		width:86%;
		margin-top: 4em;
		min-width: 6em;
	}

	#Top_Bar .container img {
		position: absolute;
		bottom: 10px;
	}

	#Top_Bar form label {
		padding: 10px 0 0 7px;
		font-size: 13px;
	}

	#Top_Bar .webmail {
		right: 0px;
	}

	/* #Hero .container {
		background-position: 430px bottom;
		background-size: 50%;
	} */

	#Hero {
		background: url("/img/hero.png") no-repeat center bottom;
		background-size: 75%;
		min-height: calc(100vh - 200px);
		position: relative;
	}

	#Hero div.container img {
		width: 50%;
		height: auto;
	}

	#Hero p {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	html body div div#Hero div.container div.col-xs-12.col-sm-8.col-md-7.col-lg-7 div.row div.col-md-2 p.text-center {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
	}

	#Content .aside .payment_icons img {
	width:15%;
		}

	h1 {
		font-size: 45px;
		line-height: 50px;
	}

	#Hero p {
		font-size: 18px;
		line-height: 22px;
	}

	#Footer .footer_top .container {
		min-height: 120px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	#Top_Bar .col-xs-12.col-sm-6.col-md-6,
	#Top_Bar .col-sm-3.col-md-3 {
		min-height: 0px;
	}
    

	#Top_Bar .form,
	#Top_Bar .webmail {
		bottom: 0;
		margin: 10px 0;
		width: 100%;
		position: relative;
	}

	#Top_Bar .webmail {
		text-align: center;
		margin-top: 0;
        top: 10px;
        border-bottom-style: solid;
        border-bottom-color: #565030;
        border-botoom-width: thick;
        border-left-style: solid;
        border-left-color: #565030;
        border-left-width: thick;
        border-right-style: solid;
        border-right-color: #565030;
        border-right-width: thick;
	}

	#Top_Bar form input {
		width: 100%;
		border: 4px solid #787150;
		border-radius: 5px;
	}

	#Top_Bar form input:focus {
		border: 4px solid #89b304;
	}

	#Top_Bar form button {
			width: 28px;
			position: absolute;
			right: -42px;
		}

	.dropdown-menu>li>a {
		color: #fff;
	}

	div.panel.panel-default div.panel-body div.form-group.row div.col-md-9 div.btn-group.bootstrap-select.form-control.open div.dropdown-menu.open ul.dropdown-menu.inner li a {
		color: #555;
	}

	div.panel.panel-default div.panel-body div.form-group.row div.col-md-9 div.btn-group.bootstrap-select.form-control.open div.dropdown-menu.open ul.dropdown-menu.inner li a:hover {
		background-color: #89b304;
		color: #fff;
	}

	.dropdown-menu>li>a:hover {
		background-color: transparent;
	}



	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
		background-color: #605a40;
		margin-bottom: 0;
		padding-bottom: 5px;
		border-radius: 5px;
	}

	#Hero .container {
		background-position: center bottom;
		padding-bottom: 230px;
		background-size: 89%;
	}

	#Content .features ul {
	    -moz-column-count: 1;
	    -moz-column-gap: 0px;
	    -webkit-column-count: 1;
	    -webkit-column-gap: 0px;
	    column-count: 1;
	    column-gap: 0px;
	}

	#Content .aside .payment_icons img {
		width: 10%;
		}

		.table-striped {
			font-size: 12px;
		}

	.input-group{
	}

	.input-group-small {
		width: 200px !important;
	}

	/*.nav-tabs>li {
		padding-top: 3px;
		padding-bottom: 0!important;
		float: none;
	}

	.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: none;
	border-radius: 4px 4px 4px 4px;
	background-color: #89b304;
	color: #fff;
	}*/

	.cp_home_icon li {
		width: 25%;
		margin-bottom: 20px;
		min-height: 162px;
	}

	.cp_home_icon img {
	    width: 60px;
	    height: auto;
	}

	#Hero div.container img {
		width: 15%;
		height: auto;
	}

	#Hero p {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	html body div div#Hero div.container div.col-xs-12.col-sm-8.col-md-7.col-lg-7 div.row div.col-md-2 p.text-center {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	body {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}

	#Top_Bar .col-xs-12 {
		padding: 0;
	}

		#Top_Bar form input::-webkit-input-placeholder {
			font-size: 14px;
		}
		#Top_Bar form input:-moz-placeholder {
			font-size: 14px;
            font-family: "Helvetica Neue", "Arial", sans-serif;
            font-weight: 200 !important;
		}
		#Top_Bar form input:-ms-input-placeholder {
			font-size: 14px;
		}

		#Top_Bar form input {
			width: 100%;
			border: 4px solid #89b304;
			border-radius: 5px;
		}
		#Top_Bar form button {
			position: absolute;
			right: -42px;
		}

	.navbar-toggle {
		margin-right: 0;
	}

	#Hero .col-xs-8 {
		width: 100%;
	}

	#Hero .container {
		background-position: center bottom;
		padding-bottom: 140px;
	}

	.table-striped {
		font-size: 9px;
	}

	#Reviews .review_link {
		text-align: left;
	}

	#Footer .footer_top .container {
		min-height: 100px;
		background: #89b304;
		padding: 10px 10px 0;
		border-radius: 0;
	}

	#Footer .footer_top .col-xs-6 {
		width: 100%;
		margin: 0 0 10px;
		text-align: center !important;
	}

	.input-group{
	}

	#Content .aside .payment_icons img {
	width:15%;
		}

		.cp_home_icon li {
		width: 33.333333%;
	}

	#Hero div.container img {
		width: 10%;
		height: auto;
	}

	#Hero p {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}

	html body div div#Hero div.container div.col-xs-12.col-sm-8.col-md-7.col-lg-7 div.row div.col-md-2 p.text-center {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.container {
		padding-right: 10px;
		padding-left: 10px;
	}

	h1 {
		font-size: 35px;
		line-height: 40px;
	}

	h2 {
		font-size: 30px;
		line-height: 35px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 18px;
	}

	#Hero h1 {
		margin-top: 20px;
	}

	#Hero p {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.package .list-group {
		margin-top: 20px;
	}

		.list-group-item {
			padding: 5px 15px;
		}

		.package .list-group-item.title {
			font-size: 26px;
		}

		.package .list-group-item.info span {
			padding-bottom: 5px;
		}

		.package a {
			margin-bottom: 10px;
		}

	.table-striped {
		font-size: 8px;
	}

	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		padding: 5px;
	}

	#Content .aside .payment_icons img {
	width:15%;
		}

	.cp_home_icon li {
		width: 50%;
	}

	#Hero div.container img {
		width: 10%;
		height: auto;
	}


	html body div div#Hero div.container div.col-xs-12.col-sm-8.col-md-7.col-lg-7 div.row div.col-md-2 p.text-center {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
	}

}


/*
Navbar "hovernav" dropdown menu - this works only for screen sizes larger than phones.
The Bootstrap CSS is unchanged.
*/
@media (min-width: 768px) {
  /*.navbar-nav .caret {
    display: none;
  } */
  /* Delete the above if you wish to display the caret */
  .navbar-nav .open ul {
    display: none
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none
  }
  .navbar-default .navbar-nav > li:hover {
    background: #e7e7e7
  }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    color: #969696;
    background: none
  }
  .navbar-inverse .navbar-nav > li:hover {
    background: #080808
  }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block;
  }

}





/*---------- Navbar Basket Button -------------*/

.navbar-basket {
			background-color: #605a40;
			position: relative;
			float: right;
			padding: 4px 10px 6px 10px;
			margin-top: 8px;
			margin-right: 15px;
			margin-bottom: 8px;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
			color: #fff;
			font-size: 14px;
            disply: none;

		}

		.navbar-basket img {
			width: auto;
			height: 18px;
		}

		.navbar-basket a {
			color: #fff;
		}

		.navbar-basket span {
			margin-right: 10px;
		}

		@media only screen and (max-width: 480px) {
			.navbar-basket {
				margin-right: 10px;
			}
		}

		@media (min-width: 768px) {
			.navbar-basket {
				padding: 5px 10px 8px 10px;
			}
		}


.navbar-nav {
  margin-left: 0;
}


.navbar-nav>li>a {
  padding: 9px 4px;
}


 .input-group .input-group-addon {
     line-height: 90%!important; /* Fix to prevent input-addon being one pixel larger than input itself */
 }

 #footerLinks { 
 	padding-top: 35px;
 	background-color: #333;
 	line-height: 1.6em;
 }

 #footerLinks div * {
 	color: #fff;
 }

#footerLinks div ul {padding-left: 0;}

#footerLinks div ul, #footerLinks input.form-control {
 	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 	font-weight: 300;
 	list-style: none;
 	color: #555;
 }

 .stylise {
 	font-family: Asap, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 	letter-spacing: -0.06em;
    word-spacing: 0.1em;
 }

 .weight700 {
 	font-weight: 700;
 }

 .stylise.weight700 {
 	letter-spacing: -0.02em;
    word-spacing: 0.1em;
 }

  .light {
 	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 	font-weight: 300;
 }

 html body footer div#footerBase.container {
		color: #fff;
		background: url("/img/top_bar_grass_repeat.png") repeat-x center bottom;

		/* Safari 4-5, Chrome 1-9 */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center bottom, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#333)); 
		/* Safari 5.1, Chrome 10+ */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center bottom, -webkit-linear-gradient(top, #333, #000); 
		/* Firefox 3.6+ */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center bottom, -moz-linear-gradient(top, #333, #000); 
		/* IE 10 */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center bottom, -ms-linear-gradient(top, #333, #000);
		/* Opera 11.10+ */ 
		background: url("/img/top_bar_grass_repeat.png") repeat-x center bottom, -o-linear-gradient(top, #333, #000);

	}

.bottom-align-text {
    position: static;
    overflow: auto;
}

.modal-backdrop {
	z-index: 0;
}

div.btn-group.bootstrap-select.form-control button.btn.dropdown-toggle.btn-sm {
	background-color: #f0f0f0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes passing {
0% {
    opacity: 0;
    transform: translateX(-50%);
}
50% {
    opacity: 1;
    transform: translateX(0%);
}
100% {
    opacity: 0;
    transform: translateX(50%);
}
}
@keyframes passing {
0% {
    opacity: 0;
    transform: translateX(-50%);
}
50% {
    opacity: 1;
    transform: translateX(0%);
}
100% {
    opacity: 0;
    transform: translateX(50%);
}
}
.faa-parent.animated-hover:hover > .faa-passing, .faa-passing.animated, .faa-passing.animated-hover:hover {
    animation: 2s linear 0s normal none infinite running passing;
}
.faa-parent.animated-hover:hover > .faa-passing.faa-fast, .faa-passing.animated-hover.faa-fast:hover, .faa-passing.animated.faa-fast {
    animation: 1s linear 0s normal none infinite running passing;
}
.faa-parent.animated-hover:hover > .faa-passing.faa-slow, .faa-passing.animated-hover.faa-slow:hover, .faa-passing.animated.faa-slow {
    animation: 3s linear 0s normal none infinite running passing;
}
@keyframes passing-reverse {
0% {
    opacity: 0;
    transform: translateX(50%);
}
50% {
    opacity: 1;
    transform: translateX(0%);
}
100% {
    opacity: 0;
    transform: translateX(-50%);
}
}
@keyframes passing-reverse {
0% {
    opacity: 0;
    transform: translateX(50%);
}
50% {
    opacity: 1;
    transform: translateX(0%);
}
100% {
    opacity: 0;
    transform: translateX(-50%);
}
}
.faa-parent.animated-hover:hover > .faa-passing-reverse, .faa-passing-reverse.animated, .faa-passing-reverse.animated-hover:hover {
    animation: 2s linear 0s normal none infinite running passing-reverse;
}
.faa-parent.animated-hover:hover > .faa-passing-reverse.faa-fast, .faa-passing-reverse.animated-hover.faa-fast:hover, .faa-passing-reverse.animated.faa-fast {
    animation: 1s linear 0s normal none infinite running passing-reverse;
}
.faa-parent.animated-hover:hover > .faa-passing-reverse.faa-slow, .faa-passing-reverse.animated-hover.faa-slow:hover, .faa-passing-reverse.animated.faa-slow {
    animation: 3s linear 0s normal none infinite running passing-reverse;
}

.btn-brown {
	background-color: #787150;
	border-color: #787150;
	color: #fff;
}

.btn-brown:hover {
	background-color: #605a40;
	border-color: #787150;
	color: #fff;
}

.min-width-14em {
	min-width:14em;
}
